// import { use{{pascalCase name}} } from '../api/get{{pascalCase name}}'

interface {{pascalCase name}}Props {
  
}
 
const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (<div>{{pascalCase name}}</div>);
}
 
export default {{pascalCase name}};